@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  @keyframes bounce {
    0%,
    50%,
    100% {
      transform: translate(-50%, 0px);
      height: 20px;
    }
    20% {
      transform: translate(-25%, 85px);
      height: 28px;
    }
    25% {
      transform: translate(-25%, 110px);
      height: 12px;
    }
    70% {
      transform: translate(-75%, 85px);
      height: 28px;
    }
    75% {
      transform: translate(-75%, 108px);
      height: 12px;
    }
  }

  @keyframes rotate {
    0%,
    50%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    75% {
      transform: rotate(-90deg);
    }
  }
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
  @apply block w-full mb-2 rounded-xl;
  @apply border p-2 border-gray-300 bg-gray-100 text-black;
}
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled {
  @apply bg-gray-300 cursor-not-allowed border-0 text-gray-500 text-black;
}

button,
.button {
  @apply flex justify-center gap-2 text-gray-700 font-semibold;
  @apply border border-gray-300 rounded-xl px-6 py-2;
}
button[type="submit"],
.submit {
  @apply text-white;
}
button[type="submit"]:disabled,
.submit:disabled {
  @apply cursor-not-allowed bg-red-400;
}
